<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MovieDB Search</title>
    <meta name="description" content="The Movie Search DB Exercise">

    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300|Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

    <script src="http://localhost:35729/livereload.js"></script>

</head>
<body>

    <div class="header">
      <a href="/"><span class="headerTitle">A MOVIE SEARCH</span></a>
    </div>

    <form class="headerSearch" action="/">
      <input id="movieSearchField" name="querym" class="searchInput" type="text" autocomplete="false"
        placeholder="Search Here"></input>
      <input class="searchButton" type="submit" value=">"></input>
    </form>

    {{{body}}}

</body>
</html>
