<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MovieDB Search</title>
    <meta name="description" content="The Movie Search DB Exercise">

    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300|Abril+Fatface" rel="stylesheet">

    <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>

    <div class="header">
      <span class="headerTitle">My First Movie Search</span>
    </div>
    <div class="headerSearch">
      <input class="searchInput" type="text">
    </div>

    {{{body}}}

</body>
</html>
