textarea:focus,
input:focus {
  outline: none;
}
html {
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #f2f2f2;
  margin: 0px;
}
.header {
  text-align: center;
  background-color: #ff6350;
  padding: 20px;
}
.header > a {
  text-decoration: none;
}
.headerTitle {
  font-family: 'Oswald', cursive;
  font-size: 1.5rem;
  color: #fff;
}
.headerSearch {
  text-align: center;
  padding: 20px;
  background-color: #fff;
}
.searchInput {
  width: 80%;
  font-family: 'Oswald', cursive;
  font-size: 1.5rem;
  padding: 5px;
  border: none;
  border-bottom: 1px #000 solid;
}
.searchButton {
  border: none;
  color: #ff6350;
  background-color: #fff;
  font-size: 1.5rem;
}
#resultsBlock {
  margin-top: 10px;
  text-align: center;
}
.resultsItems {
  padding-right: 5px;
}
