html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f2f2f2;
  margin: 0px;
}

.header {
  text-align: center;
  background-color: black;
  padding: 15px;
}
.headerTitle {
  font-family: 'Abril Fatface', cursive;
  font-size: 1.3rem;
  color: white;
}
.headerSearch {
  text-align: center;
  padding: 20px;
  background-color: white;
}
.searchInput {
  width: 80%;
  font-family: 'Abril Fatface', cursive;
  font-size: 1.2rem;
  padding: 5px;
  border: none;
  border-bottom: 1px black solid;
}
